flow.json
[{"id":"365e1c699342165e","type":"tab","label":"Weather Station","disabled":false,"info":""},{"id":"b1430528ef3895d0","type":"function","z":"365e1c699342165e","name":"","func":"var timestamp = msg.payload;\nlet time = new Date(timestamp).toLocaleTimeString();\n\nreturn {\n payload: time\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":220,"wires":[["9393aeb7e03490ca"]]},{"id":"9393aeb7e03490ca","type":"ui_text","z":"365e1c699342165e","group":"fc4b4544d6629d01","order":5,"width":"10","height":"2","name":"Digital time","label":"","format":"{{msg.payload}}","layout":"row-center","className":"digital_time","x":670,"y":220,"wires":[]},{"id":"a013259e744decff","type":"ui_template","z":"365e1c699342165e","group":"56a22b50aed31d9b","name":"Background","order":1,"width":1,"height":1,"format":"<style>\n   body {\n   background-image: url(\"https://images.unsplash.com/photo-1592210454359-9043f067919b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80\"); // file path\n   background-repeat: no-repeat;\n   background-size: auto;\n   background-position: bottom left;\n   }\n .digital_time {\n    transform:scale(1);\n }\n .detail {\n    background-color: #0000000!important;\n }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"Background","x":130,"y":100,"wires":[[]]},{"id":"4eb77cabb4f9444f","type":"openweathermap","z":"365e1c699342165e","name":"Katowice","wtype":"current","lon":"19.0275","lat":"50.2584","city":"","country":"","language":"en","x":420,"y":360,"wires":[["ab4acb74419ab405","8dd824dc58735374","4996ccbeb5e6b649","2b84cbfd3cc5504b","7e96f0e3c94beb2d","a23cb98025c36305","ac896112585e332a","2dfcac67bcb46c0c","af92e1e759c9f31f"]]},{"id":"ab4acb74419ab405","type":"ui_gauge","z":"365e1c699342165e","name":"humidity","group":"56a22b50aed31d9b","order":22,"width":"3","height":"3","gtype":"gage","title":"Humidity","label":"%","format":"{{payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"humidity","x":980,"y":460,"wires":[]},{"id":"4996ccbeb5e6b649","type":"ui_text","z":"365e1c699342165e","group":"56a22b50aed31d9b","order":8,"width":"4","height":1,"name":"Max temp","label":"Max Temp","format":"{{msg.payload.temp_maxc}} °C","layout":"row-left","className":"temp_maxc","x":980,"y":340,"wires":[]},{"id":"2b84cbfd3cc5504b","type":"ui_text","z":"365e1c699342165e","group":"56a22b50aed31d9b","order":6,"width":3,"height":1,"name":"Min temp","label":"Min Temp","format":"{{msg.payload.temp_minc}} °C","layout":"row-left","className":"temp_minc","x":980,"y":380,"wires":[]},{"id":"af92e1e759c9f31f","type":"ui_gauge","z":"365e1c699342165e","name":"","group":"56a22b50aed31d9b","order":28,"width":"3","height":"3","gtype":"compass","title":"Wind Direction","label":"","format":"{{payload.winddirection}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1000,"y":540,"wires":[]},{"id":"7e96f0e3c94beb2d","type":"ui_text","z":"365e1c699342165e","group":"56a22b50aed31d9b","order":3,"width":8,"height":1,"name":"Detail","label":"The weather is:","format":"{{msg.payload.detail}}","layout":"row-left","className":"detail","x":970,"y":240,"wires":[]},{"id":"a23cb98025c36305","type":"ui_text","z":"365e1c699342165e","group":"56a22b50aed31d9b","order":2,"width":"3","height":1,"name":"Clouds","label":"Clouds","format":"{{msg.payload.clouds}} %","layout":"row-left","className":"clouds","x":980,"y":200,"wires":[]},{"id":"b9dee3a556739916","type":"ui_clock","z":"365e1c699342165e","name":"","group":"fc4b4544d6629d01","order":3,"width":"10","height":"2","x":650,"y":180,"wires":[]},{"id":"8dd824dc58735374","type":"ui_level","z":"365e1c699342165e","group":"56a22b50aed31d9b","order":9,"width":12,"height":1,"name":"Temperature","label":"Temperature","colorHi":"#e60000","colorWarn":"#99ff00","colorNormal":"#55c1f7","colorOff":"#595959","min":"-20","max":"45","segWarn":"10","segHigh":"25","unit":"ºC","layout":"sh","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":"1","colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"off","peakmode":true,"property":"payload.tempc","peaktime":3000,"x":990,"y":280,"wires":[]},{"id":"ac896112585e332a","type":"ui_gauge","z":"365e1c699342165e","name":"","group":"56a22b50aed31d9b","order":23,"width":"3","height":"3","gtype":"gage","title":"Pressure","label":"HectoPascals","format":"{{data.main.pressure}}","min":"950","max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1000","seg2":"1050","diff":false,"className":"","x":960,"y":420,"wires":[]},{"id":"d81aa8bc.35b81","type":"ui_template","z":"365e1c699342165e","group":"","name":"Node-Red Dashboard Custom CSS","order":1,"width":0,"height":0,"format":"<style>\nroot, a, button, p, div {\n    -webkit-user-select: none !important;\n}\n\nbody {\n    background: -webkit-linear-gradient(\n    55deg,\n    #009785 0%,\n    #245aa5 50%,\n    #b800e9 100%\n    );\n    -webkit-touch-callout: none !important;\n}\n\nbody.nr-dashboard-theme md-toolbar,\nbody.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n    color: #0000fff;\n}\n\nui-card-panel {\n    background-color: rgba(40,40,40,0.5) !important;\n    border-radius: 10px !important;\n}\n    \n#Homey_Dashboard_Navigation {\n    background-color: transparent !important;\n    border-radius: 10px !important;\n}\n\n.md-card.md-default-theme, md-card {\n    border-radius: 10px;\n}\n\n.nr-dashboard-switch.ng-scope {\n    background-color: rgba(255,0,0,.2) !important;\n}\n\n.nr-dashboard-switch.ng-scope:hover {\n    background-color: rgba(255,0,0,.5) !important;\n}\n\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: rgba(255,0,0,0.2) !important;\n}\n\n.md-button {\n    border-radius: 10px;\n}\n\n.nr-dashboard-cardpanel layout-column {\n    background-color: rgba(255,0,0,0.2) !important;\n    background-color: transparent !important;\n    border-radius: 10px !important;\n}\n\n.nr-dashboard-theme ui-card-panel {\n    border: none;\n}\n\n.nr-dashboard-template {\n    overflow-y: visible;\n}\n.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n}\n\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    color: rgba(255, 222, 10, 0.5);\n}\n</style>\n\n<script>\ndocument.ontouchmove = function (e) {\n    e.preventDefault();\n}\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","className":"","x":380,"y":100,"wires":[[]]},{"id":"5ccedf7d058547d2","type":"inject","z":"365e1c699342165e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":160,"wires":[["b1430528ef3895d0","b9dee3a556739916"]]},{"id":"dc2aee3789ae45b5","type":"inject","z":"365e1c699342165e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":300,"wires":[["4eb77cabb4f9444f"]]},{"id":"2dfcac67bcb46c0c","type":"ui_level","z":"365e1c699342165e","group":"56a22b50aed31d9b","order":30,"width":0,"height":0,"name":"","label":"Windspeed","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"100","segWarn":"40","segHigh":"80","unit":"km/h","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":"1","colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"off","peakmode":true,"property":"payload.windspeed","peaktime":3000,"x":410,"y":420,"wires":[]},{"id":"4f26d02dd0ce5244","type":"http request","z":"365e1c699342165e","name":"Get measurements","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://airapi.airly.eu/v2/measurements/installation?installationId={{installationId}}","tls":"2c54aba0789be40e","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":630,"y":1340,"wires":[["396025dbd1c5f6a9","56618f6ace65d563","32c0ceaea6793da2","0413113b2efb2b6e"]]},{"id":"3497d518e0c7809f","type":"http request","z":"365e1c699342165e","name":"Get nearest station","method":"GET","ret":"obj","paytoqs":false,"url":"https://airapi.airly.eu/v2/installations/nearest?lat={{lat}}&lng={{lng}}&maxDistanceKM={{maxDistanceKM}}","tls":"","proxy":"","authType":"","x":270,"y":1520,"wires":[["adeb6c8bb2972220","2a4f0441e05d72c9"]]},{"id":"b3b89b5ff8dea830","type":"function","z":"365e1c699342165e","name":"Set params","func":"msg.lat = flow.get(\"latitude\");\nmsg.lng = flow.get(\"longitude\");\nmsg.maxDistanceKM = flow.get(\"maxDistanceKM\");\nmsg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['apikey'] = flow.get(\"apikey\");\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":1440,"wires":[["3497d518e0c7809f"]]},{"id":"2a4f0441e05d72c9","type":"change","z":"365e1c699342165e","name":"Remember station","rules":[{"t":"set","p":"installationId","pt":"flow","to":"msg.payload[0].id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1520,"wires":[["0a1106131c6c3025"]]},{"id":"e32c4565c6cda4fa","type":"switch","z":"365e1c699342165e","name":"Station selected?","property":"installationId","propertyType":"flow","rules":[{"t":"regex","v":"\\d","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":290,"y":1380,"wires":[["0a1106131c6c3025"],["b3b89b5ff8dea830"]],"outputLabels":["Yes","No"]},{"id":"db965a835adfb433","type":"inject","z":"365e1c699342165e","name":"Pool every 20m","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":1200,"wires":[["2ad46ed0c2678621","e32c4565c6cda4fa","4e7a623fbffd9459"]]},{"id":"0475d1304d87cc49","type":"change","z":"365e1c699342165e","name":"Forget station","rules":[{"t":"delete","p":"installationId","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1600,"wires":[[]]},{"id":"adeb6c8bb2972220","type":"delay","z":"365e1c699342165e","name":"After 1h","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":300,"y":1600,"wires":[["0475d1304d87cc49"]]},{"id":"0a1106131c6c3025","type":"function","z":"365e1c699342165e","name":"Set params","func":"msg.installationId = flow.get(\"installationId\");\nmsg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['apikey'] = flow.get(\"apikey\");\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1320,"wires":[["4f26d02dd0ce5244"]]},{"id":"80e9ac1433a17ee8","type":"comment","z":"365e1c699342165e","name":"<-- Put your GPS location here","info":"","x":710,"y":1080,"wires":[]},{"id":"8712cd0745d7eaa6","type":"comment","z":"365e1c699342165e","name":"<-- Put your Airly API key here (package -contrib-credentials required)","info":"","x":830,"y":1120,"wires":[]},{"id":"4e7a623fbffd9459","type":"change","z":"365e1c699342165e","name":"Configuration","rules":[{"t":"set","p":"latitude","pt":"flow","to":"52.180000","tot":"str"},{"t":"set","p":"longitude","pt":"flow","to":"21.02000","tot":"str"},{"t":"set","p":"maxDistanceKM","pt":"flow","to":"25","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1080,"wires":[[]],"icon":"node-red/cog.png"},{"id":"2ad46ed0c2678621","type":"credentials","z":"365e1c699342165e","name":"Airly API key","props":[{"value":"apikey","type":"flow"}],"x":490,"y":1120,"wires":[[]]},{"id":"396025dbd1c5f6a9","type":"debug","z":"365e1c699342165e","name":"debug 7","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":1240,"wires":[]},{"id":"56618f6ace65d563","type":"ui_gauge","z":"365e1c699342165e","name":"","group":"56a22b50aed31d9b","order":11,"width":3,"height":3,"gtype":"gage","title":"PM 2,5 ","label":"units","format":"{{payload.current.values[1].value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"1000","diff":false,"className":"","x":940,"y":1200,"wires":[]},{"id":"32c0ceaea6793da2","type":"ui_gauge","z":"365e1c699342165e","name":"","group":"56a22b50aed31d9b","order":13,"width":3,"height":3,"gtype":"gage","title":"PM 1","label":"units","format":"{{payload.current.values[0].value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"70","diff":false,"className":"","x":916.4143676757812,"y":1276.282470703125,"wires":[]},{"id":"0413113b2efb2b6e","type":"ui_gauge","z":"365e1c699342165e","name":"","group":"56a22b50aed31d9b","order":14,"width":3,"height":3,"gtype":"gage","title":"PM 10","label":"units","format":"{{payload.current.values[2].value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"70","diff":false,"className":"","x":930,"y":1340,"wires":[]},{"id":"180a101a.9cd43","type":"ui_button","z":"365e1c699342165e","name":"IconRefresh","group":"5f3439ca728a46f0","order":1,"width":2,"height":2,"passthru":false,"label":"","tooltip":"Refresh","color":"","bgcolor":"","className":"","icon":"fa-refresh fa-4x","payload":"true","payloadType":"bool","topic":"","topicType":"str","x":1030,"y":1920,"wires":[["c5efdf55.db32f"]]},{"id":"9c052db7.3c434","type":"ui_text","z":"365e1c699342165e","group":"5f3439ca728a46f0","order":5,"width":5,"height":1,"name":"Description","label":"","format":"{{msg.payload.current.weather[0].description}}","layout":"row-left","className":"","x":1030,"y":1720,"wires":[]},{"id":"ec4eb2d0.974c","type":"ui_text","z":"365e1c699342165e","group":"5f3439ca728a46f0","order":3,"width":3,"height":1,"name":"Wind","label":"","format":"{{msg.payload.current.wind_speed}}&nbsp;&nbsp;<i class=\"wi wi-darksky-wind\"></i>&nbsp;&nbsp;{{msg.payload.current.wind_cardinal}}","layout":"col-center","className":"","x":1010,"y":1800,"wires":[]},{"id":"40f44662.3ecde8","type":"ui_text","z":"365e1c699342165e","group":"5f3439ca728a46f0","order":4,"width":3,"height":1,"name":"SunriseTime","label":"","format":"<i class=\"wi wi-owm-01d\"></i>&nbsp;<i class=\"fa fa-arrow-up\"></i>&nbsp;&nbsp;{{msg.payload.current.sunrise}}","layout":"row-center","className":"","x":1030,"y":1840,"wires":[]},{"id":"5b97953.01fdd6c","type":"ui_text","z":"365e1c699342165e","group":"5f3439ca728a46f0","order":6,"width":3,"height":1,"name":"SunsetTime","label":"","format":"<i class=\"wi wi-wu-sunny\"></i>&nbsp;<i class=\"fa fa-arrow-down\"></i>&nbsp;&nbsp;{{msg.payload.current.sunset}}","layout":"row-center","className":"","x":1030,"y":1880,"wires":[]},{"id":"d284ed2f.c15c8","type":"comment","z":"365e1c699342165e","name":"OpenWeatherMap One Call API for Weather and Forecast","info":"","x":290,"y":1720,"wires":[]},{"id":"9dbf3c95.67c74","type":"ui_template","z":"365e1c699342165e","group":"5f3439ca728a46f0","name":"Forecast2","order":7,"width":"0","height":"0","format":"<div style=\"height: 100%; justify-content: center; align-items: center;\">\n <div layout=\"rowicons\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.rowicons\" style=\"font-size:150%;padding-top: 5px;padding-bottom: 5px\">\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell01}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell02}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell03}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell04}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell05}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell06}}\"></i></span>\n  <span flex style=\"color: yellow;text-align: center\"><i class=\"wi wi-owm-{{data.cell07}}\"></i></span>\n  <span flex style=\"color: yellow;text-align: center\"><i class=\"wi wi-owm-{{data.cell08}}\"></i></span>\n  <span flex style=\"color: yellow;text-align: center\"><i class=\"wi wi-owm-{{data.cell09}}\"></i></span>\n  <span flex style=\"color: yellow;text-align: center\"><i class=\"wi wi-owm-{{data.cell10}}\"></i></span>\n </div>\n <div layout=\"rowtext\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.rowtext\" style=\"line-height: 150%\">\n  <span flex style=\"color: white;text-align: center;\">{{data.cell01}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell02}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell03}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell04}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell05}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell06}}</span>\n  <span flex style=\"color: yellow;text-align: center\">{{data.cell07}}</span>\n  <span flex style=\"color: yellow;text-align: center\">{{data.cell08}}</span>\n  <span flex style=\"color: yellow;text-align: center\">{{data.cell09}}</span>\n  <span flex style=\"color: yellow;text-align: center\">{{data.cell10}}</span>\n </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1020,"y":1980,"wires":[["f19271fcd8f6aec2"]]},{"id":"7adde26c.514aec","type":"function","z":"365e1c699342165e","name":"Format forecast data","func":"var fcdata = {};\nvar units=flow.get('units');\nif (units===undefined)\n{\n  units=\"imperial\";\n}\n\nfunction formatTemp(high, low){\n    if (units == \"imperial\") {\n        if (low){\n          temp = parseFloat(high).toFixed() + '/' + parseFloat(low).toFixed()\n        }\n        else {\n          temp = parseFloat(high).toFixed() + '°F'\n        }\n    }\n    else { // metric\n        if (low){\n          temp = parseFloat(high).toFixed() + '/' + parseFloat(low).toFixed()\n        }\n        else {\n          temp = parseFloat(high).toFixed() + '°C'\n        }\n    }\n    return temp;\n}\n\nfunction dayName(unixTime){\n  var dateObject = new Date(unixTime * 1000);\n  return dateObject.toLocaleString(flow.get('lang'), { timezone: msg.payload.timezone, weekday: 'short'});\n  // If the line above is not producing the correct short weekday names for the language set by 'lang',\n  //   you can try upgrading to NodeJS version 13 or higher (when full international support was added for the toLocaleString function),\n  //   or you can use the code below which is an example for French short weekday names.\n/*  \n  switch (dateObject.toLocaleString('en', { timezone: msg.payload.timezone, weekday: 'short'})) {\n    case 'Mon':\n      return 'Lun';\n    case 'Tue':\n      return 'Mar';\n    case 'Wed':\n      return 'Mer';\n    case 'Thu':\n      return 'Jeu';\n    case 'Fri':\n      return 'Ven';\n    case 'Sat':\n      return 'Sam';\n    case 'Sun':\n      return 'Dim';\n  }\n*/\n}\n\nfunction timeConvert(UNIX_timestamp){\n  var dateObject = new Date(UNIX_timestamp * 1000);\n  if (flow.get('hour12')) {  // 12 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: true, hour: 'numeric'}).toLowerCase();\n  } else {  // 24 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: false, hour: 'numeric'}) + ':00';\n  }      \n}\n\n// prepare forecast data for CSS based ui widget\nfcdata.payload = {\n  rowtext: {\n  \tdata01: {\n      cell01: timeConvert(msg.payload.hourly[1].dt),\n      cell02: timeConvert(msg.payload.hourly[2].dt),\n      cell03: timeConvert(msg.payload.hourly[3].dt),\n      cell04: timeConvert(msg.payload.hourly[4].dt),\n      cell05: timeConvert(msg.payload.hourly[5].dt),\n      cell06: timeConvert(msg.payload.hourly[6].dt),\n      cell07: dayName(msg.payload.daily[1].dt),\n      cell08: dayName(msg.payload.daily[2].dt),\n      cell09: dayName(msg.payload.daily[3].dt),\n      cell10: dayName(msg.payload.daily[4].dt),\n  \t},\n  \tdata02: {\n       cell01: formatTemp(msg.payload.hourly[1].temp),\n       cell02: formatTemp(msg.payload.hourly[2].temp),\n       cell03: formatTemp(msg.payload.hourly[3].temp),\n       cell04: formatTemp(msg.payload.hourly[4].temp),\n       cell05: formatTemp(msg.payload.hourly[5].temp),\n       cell06: formatTemp(msg.payload.hourly[6].temp),\n       cell07: formatTemp(msg.payload.daily[1].temp.max, msg.payload.daily[0].temp.min),\n       cell08: formatTemp(msg.payload.daily[2].temp.max, msg.payload.daily[1].temp.min),\n       cell09: formatTemp(msg.payload.daily[3].temp.max, msg.payload.daily[2].temp.min),\n       cell10: formatTemp(msg.payload.daily[4].temp.max, msg.payload.daily[3].temp.min),\n  \t}\n  },\n  rowicons: {\n  \tdata01: {\n  \t\tcell01: msg.payload.hourly[1].weather[0].icon,\n  \t\tcell02: msg.payload.hourly[2].weather[0].icon,\n  \t\tcell03: msg.payload.hourly[3].weather[0].icon,\n  \t\tcell04: msg.payload.hourly[4].weather[0].icon,\n  \t\tcell05: msg.payload.hourly[5].weather[0].icon,\n  \t\tcell06: msg.payload.hourly[6].weather[0].icon,\n  \t\tcell07: msg.payload.daily[1].weather[0].icon,\n  \t\tcell08: msg.payload.daily[2].weather[0].icon,\n  \t\tcell09: msg.payload.daily[3].weather[0].icon,\n  \t\tcell10: msg.payload.daily[4].weather[0].icon,\n  \t}\n  }\n}\n\nreturn fcdata;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":1980,"wires":[["9dbf3c95.67c74"]]},{"id":"d8c5527f.7739","type":"ui_text","z":"365e1c699342165e","group":"5f3439ca728a46f0","order":2,"width":2,"height":1,"name":"Temperature","label":"","format":"<p style=\"font-size: 200%\">{{msg.payload.current.temp}}</p>","layout":"row-left","className":"","x":1030,"y":1760,"wires":[]},{"id":"681b2b94.9f7a44","type":"http request","z":"365e1c699342165e","name":"Get OWM data","method":"GET","ret":"obj","paytoqs":true,"url":"https://api.openweathermap.org/data/2.5/onecall","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":1860,"wires":[["67075190.fc6f3","7adde26c.514aec"]]},{"id":"c72d96f0.204148","type":"inject","z":"365e1c699342165e","name":"Trigger","props":[{"p":"payload","v":"true","vt":"bool"},{"p":"topic","v":"","vt":"string"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":160,"y":1860,"wires":[["79276db2.a2ce14"]]},{"id":"67075190.fc6f3","type":"function","z":"365e1c699342165e","name":"Format current data","func":"var icon = {};\n\nvar units = flow.get('units');\nif (units === undefined) {units = 'imperial';}\n\nfunction timeConvert(UNIX_timestamp){\n  var dateObject = new Date(UNIX_timestamp * 1000);\n  if (flow.get('hour12')) {  // 12 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: true, hour: 'numeric', minute: '2-digit'}).toLowerCase();\n  } else {  // 24 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: false, hour: 'numeric', minute: '2-digit'});\n  }      \n}\n\nvar degreesToCardinal = function(deg){\n  if (deg>11.25 && deg<=33.75){return \"NNE\";}\n  else if (deg>33.75 && deg<56.25){return \"NE\";}\n  else if (deg>56.25 && deg<78.75){return \"ENE\";}\n  else if (deg>78.75 && deg<101.25){return \"E\";}\n  else if (deg>101.25 && deg<123.75){return \"ESE\";}\n  else if (deg>123.75 && deg<146.25){return \"SE\";}\n  else if (deg>146.25 && deg<168.75){return \"SSE\";}\n  else if (deg>168.75 && deg<191.25){return \"S\";}\n  else if (deg>191.25 && deg<213.75){return \"SSW\";}\n  else if (deg>213.75 && deg<236.25){return \"SW\";}\n  else if (deg>236.25 && deg<258.75){return \"WSW\";}\n  else if (deg>258.75 && deg<281.25){return \"W\";}\n  else if (deg>281.25 && deg<303.75){return \"WNW\";}\n  else if (deg>303.75 && deg<326.25){return \"NW\";}\n  else if (deg>326.25 && deg<348.75){return \"NNW\";}\n  else {return \"N\";}\n}\n\nif (units == \"imperial\")\n{\n  msg.payload.current.temp = msg.payload.current.temp.toFixed() + ' °F';\n  msg.payload.current.wind_speed = msg.payload.current.wind_speed.toFixed() + ' mph';\n}\nelse  // metric units\n{\n  msg.payload.current.temp = msg.payload.current.temp.toFixed(1) + ' °C';\n  msg.payload.current.wind_speed = msg.payload.current.wind_speed.toFixed(1) + ' m/s';\n}\n\nmsg.payload.current.wind_cardinal = degreesToCardinal(msg.payload.current.wind_deg);\n\nmsg.payload.current.sunrise = timeConvert(msg.payload.current.sunrise);\nmsg.payload.current.sunset = timeConvert(msg.payload.current.sunset);\n\nvar iconString = 'wi-owm-' + msg.payload.current.weather[0].icon + ' wi-4x';\nicon = {\n    ui_control: {\n        icon: iconString\n    }\n}; \n\nreturn [msg, icon];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":1860,"wires":[["d8c5527f.7739","ec4eb2d0.974c","9c052db7.3c434","40f44662.3ecde8","5b97953.01fdd6c"],["180a101a.9cd43"]]},{"id":"79276db2.a2ce14","type":"change","z":"365e1c699342165e","name":"Settings","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.lat","pt":"msg","to":"50.2584","tot":"str"},{"t":"set","p":"payload.lon","pt":"msg","to":"19.0275","tot":"str"},{"t":"set","p":"payload.appid","pt":"msg","to":"b9b3d0ae971349248b25d2a918dd3193","tot":"str"},{"t":"set","p":"payload.units","pt":"msg","to":"metric","tot":"str"},{"t":"set","p":"payload.lang","pt":"msg","to":"en","tot":"str"},{"t":"set","p":"hour12","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"units","pt":"flow","to":"payload.units","tot":"msg"},{"t":"set","p":"lang","pt":"flow","to":"payload.lang","tot":"msg"},{"t":"set","p":"payload.exclude","pt":"msg","to":"minutely","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1860,"wires":[["681b2b94.9f7a44"]]},{"id":"16181411.5a365c","type":"ui_ui_control","z":"365e1c699342165e","name":"Update tab","events":"all","x":130,"y":1980,"wires":[["3f3d5ab9.82b3a6"]]},{"id":"c5efdf55.db32f","type":"link out","z":"365e1c699342165e","name":"Refresh","links":["a6b24cea.e52a7"],"x":1155,"y":1920,"wires":[]},{"id":"a6b24cea.e52a7","type":"link in","z":"365e1c699342165e","name":"","links":["c5efdf55.db32f"],"x":195,"y":1920,"wires":[["79276db2.a2ce14"]]},{"id":"3f3d5ab9.82b3a6","type":"switch","z":"365e1c699342165e","name":"tab focus","property":"tab","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":1980,"wires":[["79276db2.a2ce14"]]},{"id":"f19271fcd8f6aec2","type":"debug","z":"365e1c699342165e","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1080,"y":2060,"wires":[]},{"id":"a69ad73871f536f0","type":"debug","z":"365e1c699342165e","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":600,"wires":[]},{"id":"02cea5603015d3ad","type":"ui_spacer","z":"365e1c699342165e","name":"spacer","group":"56a22b50aed31d9b","order":7,"width":3,"height":1},{"id":"e9b63668fdd0231a","type":"ui_spacer","z":"365e1c699342165e","name":"spacer","group":"56a22b50aed31d9b","order":10,"width":1,"height":1},{"id":"95dc9e2cf799c3dc","type":"ui_spacer","z":"365e1c699342165e","name":"spacer","group":"56a22b50aed31d9b","order":12,"width":1,"height":1},{"id":"68137f0fc6e50a41","type":"ui_spacer","z":"365e1c699342165e","name":"spacer","group":"56a22b50aed31d9b","order":15,"width":1,"height":1},{"id":"5a75a4ed3eb4ca80","type":"ui_spacer","z":"365e1c699342165e","name":"spacer","group":"56a22b50aed31d9b","order":16,"width":1,"height":1},{"id":"a6929dc2468cb404","type":"ui_spacer","z":"365e1c699342165e","name":"spacer","group":"56a22b50aed31d9b","order":17,"width":1,"height":1},{"id":"9f90b1ebf0d70998","type":"ui_spacer","z":"365e1c699342165e","name":"spacer","group":"56a22b50aed31d9b","order":18,"width":1,"height":1},{"id":"97507b539e08fbcc","type":"ui_spacer","z":"365e1c699342165e","name":"spacer","group":"56a22b50aed31d9b","order":19,"width":1,"height":1},{"id":"98b5a2f8fc9feb0c","type":"ui_spacer","z":"365e1c699342165e","name":"spacer","group":"56a22b50aed31d9b","order":20,"width":1,"height":1},{"id":"ad53890eae07d34f","type":"ui_spacer","z":"365e1c699342165e","name":"spacer","group":"56a22b50aed31d9b","order":21,"width":1,"height":1},{"id":"3b9554204bbbc6da","type":"ui_spacer","z":"365e1c699342165e","name":"spacer","group":"56a22b50aed31d9b","order":24,"width":1,"height":1},{"id":"2025ce2f53068807","type":"ui_spacer","z":"365e1c699342165e","name":"spacer","group":"56a22b50aed31d9b","order":26,"width":1,"height":1},{"id":"10d495f3e917b380","type":"ui_spacer","z":"365e1c699342165e","name":"spacer","group":"56a22b50aed31d9b","order":27,"width":1,"height":1},{"id":"822a9d68a5eade89","type":"ui_spacer","z":"365e1c699342165e","name":"spacer","group":"56a22b50aed31d9b","order":29,"width":1,"height":1},{"id":"f066efa72f649dea","type":"ui_spacer","z":"365e1c699342165e","name":"spacer","group":"fc4b4544d6629d01","order":4,"width":1,"height":1},{"id":"667fb997bf0fc10d","type":"ui_spacer","z":"365e1c699342165e","name":"spacer","group":"fc4b4544d6629d01","order":6,"width":1,"height":1},{"id":"43deb864f7fcc6e0","type":"ui_spacer","z":"365e1c699342165e","name":"spacer","group":"fc4b4544d6629d01","order":7,"width":"4","height":"1"},{"id":"94ed733ab67d65b9","type":"ui_spacer","z":"365e1c699342165e","name":"spacer","group":"746cddafd4f373a0","order":3,"width":4,"height":1},{"id":"e1a1ed7fc695b253","type":"ui_spacer","z":"365e1c699342165e","name":"spacer","group":"746cddafd4f373a0","order":4,"width":4,"height":1},{"id":"00a134c15f665216","type":"ui_spacer","z":"365e1c699342165e","name":"spacer","group":"fc4b4544d6629d01","order":1,"width":1,"height":1},{"id":"fc4b4544d6629d01","type":"ui_group","name":"Clock","tab":"95ce7d265ca94ff3","order":7,"disp":true,"width":"10","collapse":false,"className":""},{"id":"56a22b50aed31d9b","type":"ui_group","name":"Weather Forecast Details","tab":"95ce7d265ca94ff3","order":2,"disp":true,"width":"12","collapse":true,"className":""},{"id":"2c54aba0789be40e","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"5f3439ca728a46f0","type":"ui_group","name":"5-Days Forecast","tab":"95ce7d265ca94ff3","order":3,"disp":true,"width":"10","collapse":false,"className":""},{"id":"95ce7d265ca94ff3","type":"ui_tab","name":"WeatherStation","icon":"wi-wu-sunny","order":1,"disabled":false,"hidden":false}]
